//Created by glendex on 3/24/16.


html

    head
        title Flower List
        link(rel="stylesheet", href="/stylesheets/errorStyleSheet.css")

    body

        p #{error}

        a(href="/") Go back to Home page

        //Copied this from http://codepen.io/judag/pen/dMyOjq
        .container
            .ball3
            .circu
                .gatito
                    .cola
                        .cola3
                    .legs7
                    .legs9
                    .cat
                    .legs
                    .legs3
                    .head
                        .ore
                        .ore3
                        .head7
                            .eyes
                                .iris
                            .eyes3
                                .iris3
                            .bocas3
                            .bigotitos
                            .bigotitos3
                            .boqui
                            .nose
            .ball
